#UsCEpopup {
  font-family: 'Lato', sans-serif;
  font-size:150%;
  background-color:#EFEFEF;
  width:360px;
  padding:0 5px 5px; 
}

#UsCEpopup h1{
	font-family: 'Exo', sans-serif;
	font-size:38px;
	font-weight:bold;
	margin:5px;
	padding:0;
	line-height:100%;
}

#UsCEpopup .bg-pink{ background-color:#f731d2 !important; }
#UsCEpopup .bg-blue{ background-color:rgb(49, 210, 247) !important; }
#UsCEpopup .glyphicon-asterisk{
	color:#FF0000;
	font-size:11px;
}

#UsCEpopup #mainTabs li {
	font-size:18px;
	font-weight:bold;
}
#UsCEpopup #mainTabs li a {
	padding: 5px 8px;
	color:#000;
}

#UsCEpopup .form-control{
	padding:2px;
	height:26px;
    font-size: 16px;
}

#UsCEpopup .control-label{
	font-weight:normal !important;
}

#UsCEpopup a {
	color:#eccd15;
	text-decoration:none;
}

#UsCEpopup a:hover {
	color:#000;
	text-decoration:none;
}

#UsCEpopup .btn-primary {
	background-color:#eccd15;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
}

#UsCEpopup .tab-content{
	background-color:#fff;
}
#UsCEpopup .tab-content>div{
	padding:10px 5px;
}

#UsCEpopup .glyphicon-info-sign { font-size:0.8em; }

#UsCEpopup .input-group-addon {
	font-weight: bold;
    color: #000;
    padding:3px 6px;
}

#UsCEpopup .alert {
	margin:10px 0;
}

#UsCEpopup #selectedValue, #UsCEpopup #selectedNewVideoValue {
	border: 1px solid #CCC;
    padding:4px;
    background-color:#EFEFEF;
    display: inline-block;
    margin-top: 0px;
    color:#000;
    text-decoration:none;
    width:100%
}

#UsCEpopup #selectedValue:hover, #UsCEpopup #selectedNewVideoValue:hover {
    background-color: #FFF;
    color:#666;
    text-decoration:none;
}

#UsCEpopup .hide{
	display:none;
}

#UsCEpopup .error{
	color:#FF0000;
	font-weight:bold;
}




/* Search CSS */
#UsCEpopup .add_node{
	display:block;
	color:#000;
}
#UsCEpopup .algolia-autocomplete {
  width: 100%;
  text-align:left !important;
  font-size:16px;
}
#UsCEpopup .algolia-autocomplete .aa-input, #UsCEpopup .algolia-autocomplete .aa-hint {
  width: 100%;
}
#UsCEpopup .algolia-autocomplete .aa-hint {
  color: #999;
}
#UsCEpopup .algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
}
#UsCEpopup .add_node, #UsCEpopup .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding:3px 4px;
}
#UsCEpopup .add_node:hover, #UsCEpopup .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
  text-decoration:none;
}
#UsCEpopup .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

@font-face{
	font-family:'Glyphicons Halflings';
	src:url(/glyphicons-halflings-regular.eot);
	src:url(/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
		url(/glyphicons-halflings-regular.woff2) format('woff2'),
		url(/glyphicons-halflings-regular.woff) format('woff'),
		url(/glyphicons-halflings-regular.ttf) format('truetype'),
		url(/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}